<div class="chat-list_container">
  <div class="chat-list_header">
    <div class="form-group">
      <input type="text" class="form-control" id="searchForm" aria-describedby="emailHelp" placeholder="Search...">
    </div>
  </div>

  <div class="chat-list_content">
    <div class="chat-item" 
      *ngFor="let chat of chatList"
      [class.active]="activeChat === chat.id"
      (click)="onChatClick(chat)">
      <span class="chat-item_img"
       [ngStyle]="{'background-image': 'url(' + chat.picture + ')'}">
      </span>
      <div class="chat-item_details">
        <div class="chat-item_row">
          <span class="chat-item_user">
            {{chat.name}}
          </span>
          <span class="chat-item_date">
            {{chat.latest_timestamp}}
          </span>
        </div>
        <span class="chat-item_lastmsg">
          <img *ngIf="lastMsg(chat).sender === 'me'" src="../assets/img/msg-{{lastMsg(chat).status}}.png" height="11"/>
          {{lastMsg(chat).text}}
        </span>
      </div>
    </div>
  </div>
</div>
